.input_class{
    -fx-background-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-style:solid;
    -fx-border-color: black;
}

.input_class:focused{
    -fx-border-color: rgb(117, 234, 255);
}

.btn_class{
    -fx-background-radius: 0;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-border-style:solid;
    -fx-border-color: black;
    -fx-cursor:hand;
}

.btn_class:hover{
    -fx-background-color: rgba(117, 234, 255, 0.573);
}